{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<br><br><br>
<h2><a href="{% url 'student:student_list' %}">Student List</a></h2>

<ol>
    {% for student in object_list %}
    <li>Name: <b>{{ student.name }}</b>,  Reg No: <b>{{ student.regno }}</b> &emsp;
    <a href="{% url 'student:student_edit' student.id %}">Update</a>  &emsp;
    <a href="{% url 'student:student_delete' student.id %}">Delete</a>
    </li><br>
    {% endfor %}
</ol>

<a href="{% url 'student:student_new' %}">
    <button>ADD</button>
  </a>